@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Castoro:ital@1&family=Charm&family=Cormorant+Garamond:wght@300&family=Courgette&family=Dancing+Script&family=Gabriela&family=Graduate&family=Merienda&family=Merienda+One&family=Nunito:ital,wght@0,400;1,300&family=Old+Standard+TT&family=Pacifico&family=Quintessential&family=Radio+Canada:wght@500&family=Ramaraja&family=Roboto:wght@100;400&family=UnifrakturMaguntia&family=Unna&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth
}

body {
    background-color: white;
}

.alphaContainer {
    display: flex;
    flex-direction: column;

    position: relative;

    margin: auto;

    height: 100%;
    width: 1340px;
}

/*Nav Bar*/
.navBar {
    display: flex;
    
    background-color: white;

    margin: auto;
    margin-top: 20px;

    width: 95%;
}

.navBar a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.leftBox {
    display: flex;

    margin: auto;
    margin-top: 20PX;
    margin-bottom: 20PX;
    margin-left: 0px;

    gap: 40px;
}

#brand, #navLink {
    margin: auto;
}

#brand {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#navLink {
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;

    transition: 0.5s;
}

#navLink a {
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;

    display: flex;
}

#navLink a:hover {
    color: #5a31f4;
}

#navLink a:visited {
    color: black;
}

#navLink a:active {
    color: #5a31f4;
    border-bottom: 1px solid #5a31f4;
}

#moreNavLink {
    margin: auto;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;

    transition: 0.5s;
}

#moreNavLink a {
    margin: auto;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;

    transition: 0.5s;
}

#moreNavLink a:hover {
    color: #5a31f4;
}

#moreNavLink a:visited {
    color: black;
}

#moreNavLink a:active {
    color: #5a31f4;
}

#expandArrow {
    margin: auto;
    margin-left: 5px;
    height: 10px;
}

.rightBox {
    display: flex;
    
    margin: auto;
    margin-top: 20PX;
    margin-bottom: 20px;
    margin-right: 0px;

    gap: 20px;
}

.downloadShop {
    border-radius: 40px;
    padding: 15px;
    background-color: #5a31f4;
}

#download {
    color: white;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;
}


#menuIcon {
    display: none;
    margin: auto;
    height: 30px;
    width: 30px;
}

/*Nav Bar End*/






/* HERO SECTION START */

.heroSection {
    display: flex;

    margin: auto;
    margin-top: 80px;

    padding: 0px 72px;

    height: 690px;
    width: 100%;
}

/* LEFT SIDE OF HERO SECTION START */

.leftHeroSection {
    display: flex;
    flex-direction: column;

    margin: auto;

    height: 100%;
    width: 55%;
}

.contentBox {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 20px;

    height: 500px;
    width: 100%;
}

.contentBoxTitle {
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#contentBoxTitle {
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.contentBoxGreeting {
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 80px;
}

#contentBoxGreeting {
    font-family: 'Radio Canada', sans-serif;
    font-size: 58px;
    font-weight: 600;
}

.contentBoxScanTitle {
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#contentBoxScanTitle {
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

#barcode1 {
    height: 130px;
    width: 130px;
}

.downloadShopBlack {
    display: none;
}

/* LEFT SIDE OF HERO SECTION END */




/* RIGHT SIDE OF HERO SECTION START */

.rightHeroSection {
    display: flex;
    flex-direction: column;

    margin: auto;
    position: relative;

    height: 100%;
    width: 75%;
}


#topLeftImage {
    border-radius: 5px;

    position: absolute;

    top: 3%;
    left: 40px;


    height: 395px;
    width: 290px;

    z-index: -1;
}

#bottomRightImage {
    border-radius: 5px;

    position: absolute;

    bottom: 0%;
    right: 20px;


    height: 395px;
    width: 290px;

    z-index: -1;
}

.phoneVideo {
    border: 10px solid #e8e8e8;
    border-radius: 30px;
    background-color: white;

    position: absolute;

    top: 10%;
    left: 25%;

    height: 550px;
    width: 265px;
}

#phoneVideo {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}


#pauseIcon {
    position: absolute;

    left: 45%;
    bottom: 20px;

    height: 30px;
    width: 30px;
}

#playIcon {
    position: absolute;

    left: 45%;
    bottom: 20px;

    height: 30px;
    width: 30px;

    display: none;
}

#starArt {
    position: absolute;

    left: 80%;
    top: 15%;

    height: 60px;
    width: 60px;
}

#curlyArrow {
    position: absolute;

    left: 10%;
    bottom: -40px;

    height: 40px;
    width: 40px;
}

/* RIGHT SIDE OF HERO END */


/* HERO SECTION END */





/* BODY CONTENT START */

.shopdetailSection {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 210px;

    padding: 20px;

    width: 100%;
}

.detailSectionTitle {
    margin: auto;
}

#detailSectionTitle {
    font-size: 44px;
    font-weight: 500;
    font-family: 'Radio Canada', sans-serif;
    text-align: center;
}

.linkToFeatures {
    display: flex;

    margin: auto;
    margin-top: 20px;

    gap: 10px;
}

.linkToFeatures a {
    display: flex;
    text-decoration: none;
    color: #7fb1fa;

    gap: 10px;
}

.linkToFeatures a:visited {
    text-decoration: none;
    color: #5a31f4;
}

#linkToFeatures {
    font-size: 18px;
}

#rightArrow {
    margin: auto;

    width: 18px;

    justify-content: center;
}

.features {
    display: flex;

    margin: auto;
    margin-top: 50px;

    width: 100%;

    gap: 100px;
    padding: 20px;
}

.payBetter, .trackBetter, .shopBetter {
    display: flex;
    flex-direction: column;

    margin: auto;   
} 

#featureimage {
    margin: auto;
    height: 100px;
}

#featureTitle {
    margin: auto;
    margin-top: 20px;

    font-family: 'Radio Canada', sans-serif;
    font-size: 28px;
    font-weight: 500;
}

#featureDescription {
    margin: auto;
    margin-top: 20px;

    text-align: center;

    font-size: 18px;
}


.boxNarc {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 200px;

    padding: 20px;

    width: 100%;
}

#dontSettle {
    margin: auto;

    font-size: 14px;
    font-weight: 600;
}

#reasurance {
    margin: auto;
    margin-top: 40px;

    font-family: 'Radio Canada', sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

#contentBoxScanTitle2 {
    margin: auto;
    margin-top: 80px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

#barcode2 {
    margin: auto;
    margin-top: 40px;
    height: 130px;
    width: 130px;
}

.downloadShopWhite {
    display: none;
}

/* BODY CONTENT END */

/* FOOTER START */

.footer {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 190px;

    width: 90%;
}

#hashtagTitle {
    margin: auto;

    color: #5a31f4;
    font-size: 18px;
}

.footerLinks {
    display: flex;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;

    width: 60%;

    gap: 20px;
}

#footerLinks {
    margin: auto;
    font-size: 18px;
    font-weight: 400;
}


.firstRow {
    margin: auto;
    display: flex;
    gap: 20px;
}

.secondRow {
    margin: auto;
    display: flex;
    gap: 20px;
}
/* FOOTER END */


@media only screen and (max-width: 768px) {
    .alphaContainer {
        width: 100%;
    }

    .navBar {
        width: 90%;
    }

}


@media only screen and (min-width: 480px) and (max-width: 768px) {
    .alphaContainer {
        width: 100%;
    }

    .navBar {
        width: 90%;

    }

    .leftBox > #navLink, #moreNavLink {
        display: none;
    }

    .downloadShop {
        display: none;
    }

    #menuIcon {
        display: block;
        margin: auto;
        height: 30px;
        width: 30px;
    }

    .heroSection {
        display: flex;
        flex-direction: column;

        margin: auto;
        margin-top: 0px;

        padding: 10px;
        gap: 20px;

        height: 1300px;
        width: 100%;
    }

    .leftHeroSection {
        height: 900px;
        width: 100%;
    }

    .contentBox {
        margin: auto;
        margin-top: 0px;

        text-align: center;
        width: 80%;
    }

    .contentBoxTitle {
        margin: auto;
        text-align: center;
    }

    #contentBoxTitle {
        margin-bottom: 0px;
        font-weight: 500;
    }
    
    .contentBoxGreeting {
        margin: auto;
        margin-bottom: 80px;

        width: 100%;
    }

    #contentBoxGreeting {
        font-family: 'Radio Canada', sans-serif;
        font-size: 40px;
    }
   

    .contentBoxScanTitle {
        margin: auto;
        text-align: center;
    }
    
    #contentBoxScanTitle {
        display: none;
    }

    #barcode1 {
        display: none;
    }
    
    .downloadShopBlack {
        display: block;
        margin: auto;
        margin-top: 0px;
        border-radius: 5px;
        padding: 25px;
        background-color: black;

        width: 200px;
    }

    #downloadShopBlack {
        color: white;
        font-family: 'Radio Canada', sans-serif;
        font-size: 17px;
        font-weight: 500;
    }

 
    .rightHeroSection {
        height: 1000px;
        width: 100%;
    }

    #topLeftImage {
        border-radius: 5px;
    
        position: absolute;
    
        top: 0%;
        left: 0%;
    
    
        height: 395px;
        width: 290px;
    
        z-index: -1;
    }
    
    #bottomRightImage {
        border-radius: 5px;
    
        position: absolute;
    
        bottom: 0%;
        right: 0%;
    
    
        height: 395px;
        width: 290px;
    
        z-index: -1;
    }

    #pauseIcon {
        display: none;
    }
    
    #playIcon {
        display: none;
    }
    
    #starArt {
        display: none;
    }
    
    #curlyArrow {
        display: none;
    }

    .phoneVideo {
        border: 10px solid #e8e8e8;
        border-radius: 30px;
        background-color: white;
    
        position: absolute;
    
        top: 10%;
        left: 25%;
    
        height: 550px;
        width: 265px;
    }

    .shopdetailSection {
        margin-top: 50px;

    }

    .features {
        display: flex;
        flex-direction: column;
    }

    #featureDescription {
        font-size: 20px;

        width: 70%;
    }

    #reasurance {
        text-align: center;
        font-size: 50px;
        font-weight: 500;

    }

    #contentBoxScanTitle2 {
        display: none;
    }

    #barcode2 {
        display: none;
    }
        
    .downloadShopWhite {
        display: block;
        margin: auto;
        margin-top: 40px;

        text-align: center;


        border-radius: 5px;
        padding: 25px;
        background-color: white;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        width: 200px;
    }

    #downloadShopWhite {
        margin: auto;
        
        color: #5a31f4;
        font-family: 'Radio Canada', sans-serif;
        font-size: 17px;
        font-weight: 500;
    }


    .footerLinks {
        flex-direction: column;
        width: 100%;

        text-align: center;
    }

    .firstRow {
        display: flex;
    }

    .secondRow {
        display: flex;
    }

}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .alphaContainer {
        width: 100%;
    }

    .navBar {
        margin-top: 0px;
        width: 90%;

    }

    .leftBox > #navLink, #moreNavLink {
        display: none;
    }

    .downloadShop {
        display: none;
    }

    #menuIcon {
        display: block;
        margin: auto;
        height: 30px;
        width: 30px;
    }

    .heroSection {
        display: flex;
        flex-direction: column;

        margin: auto;
        margin-top: 0px;

        padding: 10px;
        gap: 20px;

        height: 1300px;
        width: 100%;
    }

    .leftHeroSection {
        height: 900px;
        width: 100%;
    }

    .contentBox {
        margin: auto;
        margin-top: 0px;

        text-align: center;
        width: 80%;
    }

    .contentBoxTitle {
        margin: auto;
        text-align: center;
    }

    #contentBoxTitle {
        margin-bottom: 0px;
        font-weight: 500;
    }
    
    .contentBoxGreeting {
        margin: auto;
        margin-bottom: 80px;

        width: 100%;
    }

    #contentBoxGreeting {
        font-family: 'Radio Canada', sans-serif;
        font-size: 40px;
    }
   

    .contentBoxScanTitle {
        margin: auto;
        text-align: center;
    }
    
    #contentBoxScanTitle {
        display: none;
    }

    #barcode1 {
        display: none;
    }
    
    .downloadShopBlack {
        display: block;
        margin: auto;
        margin-top: 0px;
        border-radius: 5px;
        padding: 25px;
        background-color: black;

        width: 200px;
    }

    #downloadShopBlack {
        color: white;
        font-family: 'Radio Canada', sans-serif;
        font-size: 17px;
        font-weight: 500;
    }

 
    .rightHeroSection {
        height: 1000px;
        width: 100%;
    }

    #topLeftImage {
        border-radius: 5px;
    
        position: absolute;
    
        top: 0%;
        left: 0%;
    
    
        height: 395px;
        width: 290px;
    
        z-index: -1;
    }
    
    #bottomRightImage {
        border-radius: 5px;
    
        position: absolute;
    
        bottom: 0%;
        right: 0%;
    
    
        height: 395px;
        width: 290px;
    
        z-index: -1;
    }

    #pauseIcon {
        display: none;
    }
    
    #playIcon {
        display: none;
    }
    
    #starArt {
        display: none;
    }
    
    #curlyArrow {
        display: none;
    }

    .phoneVideo {
        border: 10px solid #e8e8e8;
        border-radius: 30px;
        background-color: white;
    
        position: absolute;
    
        top: 10%;
        left: 25%;
    
        height: 550px;
        width: 265px;
    }

    .shopdetailSection {
        margin-top: 50px;

    }

    .features {
        display: flex;
        flex-direction: column;
    }

    #featureDescription {
        font-size: 20px;

        width: 70%;
    }

    #reasurance {
        text-align: center;
        font-size: 50px;
        font-weight: 500;

    }

    #contentBoxScanTitle2 {
        display: none;
    }

    #barcode2 {
        display: none;
    }
        
    .downloadShopWhite {
        display: block;
        margin: auto;
        margin-top: 40px;

        text-align: center;


        border-radius: 5px;
        padding: 25px;
        background-color: white;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        width: 200px;
    }

    #downloadShopWhite {
        margin: auto;
        
        color: #5a31f4;
        font-family: 'Radio Canada', sans-serif;
        font-size: 17px;
        font-weight: 500;
    }


    .footerLinks {
        flex-direction: column;
        width: 100%;

        text-align: center;
    }

    .firstRow {
        display: flex;
    }

    .secondRow {
        display: flex;
    }
} 